/* Bodyn som inehåller font för brödtext, förgrutan och bakgrundsbilden */
body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    background-color: #0d0d0d;
    color: white;

    background-image: url(BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #232335;

  }
  
  .container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  

  header {
    text-align: center;
    padding: 10px;
  }

  /* fem stycken h rubriker/texter som vi stylat med typsnitt, vikt, margins och färger */
  h1 a {
    font-size: 100px;
    margin-bottom: 10px;
    font-family: "mason-serif", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-decoration: none; /* tar bort linjen under rubriken då vi gjort den interaktiv */
  }

  h2 {
    font-size: 30px;
    margin-bottom: 8px;
    font-family: "trajan-pro-3", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
  }

  h3 {
    font-size: 20px;
    margin-top: 5px;
    font-family: "trajan-pro-3", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
  }

  h4{

    font-size: 40px;
    margin-bottom: 10px;
    font-family: "trajan-pro-3", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;

  }

  h5 {
  font-size: 15px;
  margin-top: 5px;
  font-family: "trajan-pro-3", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  }

/* Styling för divven där "tack för köpet texten" finns */
.grattis_text{
  display: flex;
    justify-content: space-around;
    background-color:#232335;
    padding: 10px;
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}


/* Styling för de olika delarna av navbar */
  nav {
    display: flex;
    justify-content: space-around;
    background-color:#232335;
    padding: 10px;
    border-radius: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-family: "trajan-pro-3", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  nav a:hover {
    color: red; /* gör de olika nav sidorna röda när man håller musen över */
  }

  /* Styling för brödtext och team member delen av "om" sidan */
  .main-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    background-color:#232335;
    border-radius: 10px;
    margin-top: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
  }
/* Styling för team member bilderna och loggan */

.Logga img {
  width: 30%; /* bestämmer bildens storlek */
  display: block;
  margin: 0 auto; /* centrerar bilden i containern */
  border-radius: 40px;
}

.Logga p {
  margin: 20px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: center;
}

  .team-member {
    text-align: center;
    margin: 20px;
  }
  
  .team-member img {
    width: 300px; /* bredd på bilderna */
    height: 300px; /* höjd på bilderna */
    object-fit: cover; /* detta gör att området fylls av bilden men hindrar bilden från att bli missformad */
    margin-bottom: 10px; 
    border: 5px solid #232335; 
    border-radius: 40px; 
    
  }
  
  /* Styling för index sidans bild galleri */
  .image-gallery {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
  }
  
  .image-gallery img {
    width: 100%; 
    height: 350px;
    object-fit:cover;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Styling för footern som finns längst ner i mitten på alla sidor */
  footer {
      text-align: center;
      padding: 10px;
      position: fixed;
      right: 0;
      bottom: 0;
      width: 100%;
      color: white;
  }
/* styling för epost och biljett rutan */
  main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #232335;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling för knapparna vid biljett köp */
  select, button {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    
  }
  
  button {
    background-color: #b7b7b7;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  #totalPrice {
    font-weight: bold;
    color: #ffffff;
  }

  /* Styling för email rutan */
  input[type="email"] {
    padding: 10px;
    margin: 5px 0;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

